<h1>Schedule</h1>

<div id = "schedule">
  <h2 id="month">
    <%= link_to "<", date: @date.prev_month %>
    <%= @date.strftime("%B %Y") %>
    <%= link_to ">", date: @date.next_month %>  
  </h2>
  <%= calendar @date do |date| %>
    <%= date.day %>
    <% if @homework_by_date[date] %>
      <ul>
        <% @homework_by_date[date].each do |homework| %>
          <li><%= link_to homework.hw_name, homework %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>

<%= link_to "Create homework", new_homework_path %>