

<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Homework Scheduler</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="welcome.scss">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<!-- Navbar -->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar"><%= link_to 'Homework Scheduler', controller: 'welcome' %></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Schedule', controller: 'schedule' %></li>
        <li><%= link_to 'Create Homework', new_homework_path %></li>
      </ul>
    </div>
  </div>
</nav>

<h1>Schedule</h1>

<div id = "schedule">
  <h2 id="month">
    <%= link_to "<", date: @date.prev_month %>
    <%= @date.strftime("%B %Y") %>
    <%= link_to ">", date: @date.next_month %>  
  </h2>
  <%= calendar @date do |date| %>
    <%= date.day %>
    <% if @homework_by_date[date] %>
      <ul>
        <% @homework_by_date[date].each do |homework| %>
          <li><%= link_to homework.hw_name, homework %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>

<%= link_to "Create homework", new_homework_path %>